.header{
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6A96D8;
    border-radius: 14px 14px 0px 0px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__point{
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
}

.header__title{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    font-variant: small-caps;
    color: #FFFFFF;
}